.name{font-family:itim;}
#name{
color:red;
font-family:lobster;}
label{
display:block;
position:relative;
padding-left:35px;
margin-bottom:12px;
cursor:pointer;}
/* Hide the browser's default checkbox */
label [type="checkbox"],[type="radio"]{
position:absolute;
opacity:0;
cursor:pointer;
height:0;
width:0;}
/* Create a custom checkbox */
.checkmark{
position: absolute;
top:0;
left:0;
height:25px;
width:25px;
background-color:lightgray;
border-radius:20%;}
@media screen and (orientation:landscape){
.checkmark{background-color:lightyellow;}}
/* On mouse-over, add a grey background color */
label:hover [type="checkbox"]~.checkmark{background-color:gray;}
/* When the checkbox is checked, add a blue background */
label [type="checkbox"]:checked~.checkmark{background-color:blue;}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after{
content:"";
position:absolute;
display:none;}
/* Show the checkmark when checked */
label [type="checkbox"]:checked~.checkmark:after{display:block;}
/* Style the checkmark/indicator */
label .checkmark:after{
left:9px;
top:5px;
width:5px;
height:10px;
border:solid white;
border-width:0 3px 3px 0;
transform:rotate(45deg);}
/* Create a custom radio button */
.radiomark{border-radius:50%;}
/* On mouse-over, add a grey background color */
label:hover [type="radio"]~.checkmark{background-color:gray;}
/* When the checkbox is checked, add a blue background */
label [type="radio"]:checked~.checkmark{background-color:blue;}
/* Show the indicator (dot/circle) when checked */
label [type="radio"]:checked~.checkmark:after{display:block;}
/* Style the indicator (dot/circle) */
.radio .radiomark:after{
top:6px;
left:6px;
width:10px;
height:10px;
border-radius:50%;
background:white;}
#color{
text-shadow:-1px 1px 0 white,1px 1px 0 white,1px -1px 0 white,-1px -1px 0 white;
color:red;
height:100px;
width:100px;}
.mainForm{
color:white;
background-image:linear-gradient(#4CA1AF,#2C3E50);}
.formFeedback{
background-image:linear-gradient(90deg,#03001e,#7303c0,#ec38bc,#fdeff9);}
footer{background-color:blue;}
.bean{
outline:none;
background-color:purple;
border-color:currentColor;
border-style:solid;
border-width:2px;
border-radius:3rem;
color:yellow;
font-family:roboto;
font-size:4rem;
font-weight:100;
overflow:hidden;
padding:1rem 2rem;
padding-right:3rem;
position:relative;
text-decoration:none;
transition-duration:.2s;
transition-property:transform;
transition-timing-function:ease-in-out;
will-change:transform;}
.bean i{
font-size:smaller;
position:absolute;
opacity:0;
top:25px;
right:-50px;
transition:.5s;}
.bean:hover i{
opacity:1;
right:10px;}
.bean::after{
background-color:yellow;
border-radius:3rem;
content:'';
display:block;
height:100%;
width:100%;
position:absolute;
left:0;
top:0;
transform:translate(-100%, 0) rotate(10deg);
transform-origin:top left;
transition-duration:.2s;
transition-property:transform;
transition-timing-function:ease-in-out;
will-change:transform;
z-index:-1;}
.bean:hover::after{transform:translate(0,0);}
.bean:hover{
padding-right:4rem;
border-style:solid;
border-width:2px;
border-color:transparent;
border-radius:3rem;
color:purple;
transform:scale(1.05);
will-change:transform;}
body{
color:white;
background-color:purple;}
.man,.man2{
height:220px;
width:20px;
position:relative;
left:30px;
overflow:visible;
transition-duration:10s;
transition-timing-function:ease-out;
cursor:pointer;}
.man-on{left:90%;}
.man-on .hand{animation-play-state:running;}
.man-on .leg{animation-play-state:running;}
.man-on .ball{
animation-name:ball1;
animation-duration:3s;}
.man-on .ball:nth-child(2){
animation-duration:3s;
animation-name:ball2;}
@media screen and position(left:90){}
.man-head{
position:relative;
top:70px;
left:5px;
background-color:yellow;
height:15px;
width:15px;
border-radius:50%;
border-top-color:black;
border-top-style:dotted;
border-top-width:3px;}
.man-body{
position:relative;
left:7px;
background-color:green;
height:50px;
width:10px;
border-radius:20px;}
.leg{
position:relative;
bottom:10px;
left:-4px;
background-color:gray;
height:40px;
width:10px;
border-radius:20px;
transform:rotateZ(45deg);
animation-name:leg1;
animation-duration:0.5s;
animation-iteration-count:infinite;
animation-direction:normal;
animation-play-state:paused;}
.leg:nth-child(2){
bottom:50px;
left:20px;
transform:rotateZ(-45deg);
animation-name:leg2;}
@keyframes leg1{
from{transform:rotateZ(45deg);}
to{
left:20px;
transform:rotateZ(-45deg);}}
@keyframes leg2{
from{transform:rotateZ(-45deg);}
to{
left:-4px;
transform:rotateZ(45deg);}}
.man-hand{
position:relative;
top:70px;}
.hand{
position:relative;
left:-4px;
background-color:fuchsia;
height:40px;
width:10px;
border-radius:20px;
transform:rotateZ(45deg);
animation-name:hand1;
animation-duration:0.5s;
animation-iteration-count:infinite;
animation-direction:normal;
animation-delay:0.1s;
animation-play-state:paused;}
.hand:nth-child(2){
bottom:40px;
left:20px;
transform:rotateZ(-45deg);
animation-name:hand2;}
@keyframes hand1{
from{transform:rotateZ(45deg);}
to{
left:20px;
transform:rotateZ(-45deg);}}
@keyframes hand2{
from{transform:rotateZ(-45deg);}
to{
left:-4px;
transform:rotateZ(45deg);}}
.man2{
transition-duration:9s;
transition-timing-function:ease-in;}
.ball{
background-color:white;
height:10px;
width:10px;
border-radius:50%;
position:relative;
top:130px;
right:20px;
animation-name:bounce;
animation-play-state:running;
animation-iteration-count:infinite;
animation-duration:1s;
animation-timing-function:cubic-Bezier(0.3,0.4,0.5,1.6);
animation-direction:alternate;}
.ball:nth-child(2){left:40px;}
@keyframes ball1{
10%{top:100px;}
20%{top:80px;}
30%{top:60px;}
40%{top:80px;}
50%{
top:100px;
right:-20px}
60%{
top:120px;
right:-15px;}
80%{
top:130px;
left:20px;}}
@keyframes ball2{
10%{top:100px;}
20%{top:80px;}
30%{top:60px;}
40%{top:80px;}
50%{
top:100px;
left:-20px;}
60%{
top:120px;
left:-15px;}
80%{
top:130px;
left:-20px;}}
@keyframes bounce{
from{top:1000%;}
to{top:500%;}}
.finish-line{
color:black;
position:relative;
left:60%;
bottom:250px;
height:20px;
width:400px;
background-color:yellow;
transform:rotateZ(90deg);
transition-duration:10s;
transition-timing-function:ease-in-out;
text-align:center;}
.finished{
text-align:justify;
left:0%;
transform:rotateZ(3600deg);}
.wer{background-image:repeating-linear-gradient(40deg,hsl(0,100%,50%)0px,hsl(0,100%,50%)40px,hsl(180,100%,50%)40px,hsl(180,100%,50%)80px);}
#email{color:yellow;}#email:focus{color:red;}#email:active{color:lime;}