@font-face{
font-family:"Lobster";
font-style:normal;
font-weight:300;
src:url("Fonts/Lobster.ttf");}
@font-face{
font-family:"cursives";
font-style:normal;
font-weight:400;
src:url("Fonts/Cursive.ttf");}
@font-face{
font-family:"Itim";
font-style:normal;
font-weight:400;
src:url("Fonts/Itim.ttf");}
@font-face{
font-family:"Roboto";
font-style:normal;
font-weight:400;
src:url("Fonts/Roboto.ttf");}
@font-face{
font-family:"sans-serif";
font-style:normal;
font-weight:400;
src:url("Fonts/sans-serif.ttf");}
@font-face{
font-family:"serif";
font-style:normal;
font-weight:400;
src:url("Fonts/serif.ttf");}
@font-face{
font-family:"Arial";
font-style:normal;
font-weight:300;
src:url("Fonts/Arial.ttf");}
@font-face{
font-family:"CourNew";
font-style:normal;
font-weight:300;
src:url("Fonts/Courier_New.ttf");}
//End of fonts
//Custom Inputs